@import url(reset.css);

* {
	color: rgb(59, 59, 59);
}

header+p,
main>div,
footer a {
	color: rgb(255, 0, 0);
}

#header p>.state-name {
	color: rgb(42, 165, 46);
}

h2~p {
	color: rgb(244, 145, 23);
}

[class*="article"] {
	color: chartreuse;
}

div>p.article-text {
	color: blueviolet;
}

a[href^="https://"] {
	color: rgb(90, 23, 23);
}

div .state-name {
	color: aquamarine;
}

.article-text .state-name {
	color: darkblue;
}