@import url(reset.css);

* {
	color: rgb(59, 59, 59);
}

header+p,
main>div,
footer a {
	color: rgb(255, 0, 0);
}

#header p>.state-name {
	color: rgb(221, 147, 37);
}

h2~p {
	color: rgb(101, 173, 1);
}

[class*="article"] {
	color: rgb(0, 242, 255);
}

div>p.article-text {
	color: rgb(73, 43, 226);
}

a[href^="https://"] {
	color: rgb(58, 23, 90);
}

div .state-name {
	color: aquamarine;
}

.article-text .state-name {
	color: rgb(0, 139, 109);
}
