@import url(fonts.css);
@import url(reset.css);
@import url(practice.css);

body {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: normal;
	box-sizing: border-box;
}

ul {
	font-size: 0;
}

li {
	font-size: 16px;
}

header {
	padding: 24px;
}

header {
	text-align: center;
}

h1 {
	font-size: 96px;
	font-weight: 500;
	text-transform: uppercase;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.586);
	text-decoration: underline 4px;
	margin-bottom: 16px;
}

header li {
	font-size: 48px;
	font-weight: 500;
	display: inline-block;
	vertical-align: top;
	margin-right: 24px;
	text-transform: capitalize;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.459);
}

.mr-0 {
	margin-right: 0;
}

.article {
	width: 1070px;
	padding: 75px 0 40px;
	margin: 0 auto;
}

.article h2 {
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2;
	/* 48/40 */
	margin-bottom: 40px;
}

.article img {
	width: 1070px;
	height: 380px;
	margin-bottom: 40px;
}

.article p {
	margin-bottom: 40px;
	line-height: 1.875;
	/* 30/16 */
}

.article h3 {
	font-size: 20px;
	line-height: 1.4;
	/* 28/20 */
	font-weight: 600;
	margin-bottom: 30px;
}

.article ul {
	margin-bottom: 40px;
}

.article li {
	background: url(../source/img/checkbox.svg) left top no-repeat;
	background-size: 32px;
	padding-left: 47px;
	line-height: 1.875;
}

.explore {
	max-width: 1440px;
	margin: 0 auto;
	padding: 121px 102px;
	font-family: "Quicksand", sans-serif;
	color: #fff;
	font-size: 20px;
	line-height: 1.6;
	font-weight: 500;
	background-image: url(../source/img/holographic.png), url(../source/img/kid.png);
	background-position: center, right 100px top;
	background-repeat: no-repeat;
	background-color: rgb(145, 76, 255, 0.999);
}

.explore>div {
	display: inline-block;
	vertical-align: top;
}

.explore>div {
	max-width: 600px;
}


.explore h2 {
	font-size: 40px;
	line-height: 1.2;
	font-weight: 700;
	margin-bottom: 24px;
}

.explore p {
	margin-bottom: 24px;
}

.explore a {
	font-family: "Quicksand", sans-serif;
	font-weight: 700;
	line-height: 1.56;
	background-color: #fff;
	color: rgb(13, 18, 22);
	padding: 11.5px 20px;
	border-radius: 8px;
}

.coral {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 1.2;
	background-color: rgba(30, 40, 50, 0.05);
	background-image: url(../source/img/frame-1.png), url(../source/img/frame-2.png);
	background-repeat: no-repeat;
	background-position: left bottom, right center;
	padding: 31px;
}

.coral-block {
	max-width: 1320px;
	margin: 0 auto;
}

.coral-info {
	margin-right: 98px;
	max-width: 686px;
	text-transform: capitalize;
}

.coral-info h2 {
	font-size: 74px;
	font-weight: 300;
	line-height: 74px;
	text-transform: capitalize;
	margin-bottom: 52px;
}

.coral-info p {
	padding-bottom: 66px;
}

.coral-info a {
	background-color: rgb(30, 40, 50);
	color: rgb(255, 255, 255);
	font-size: 29px;
	text-transform: capitalize;
	padding: 19px 26px;

}

.coral-info img {
	margin-right: 8px;
}

.coral-info,
.coral-image {
	display: inline-block;
	vertical-align: top;
}

.coral-image,
.coral-image img {
	border-radius: 160px 0px;
}

.coral-image {
	border: 2px solid rgba(0, 0, 0, 0.25);
}

.coral-image img {
	width: 424px;
	margin-right: 94px;
	border-radius: 160px 0px;
	margin: -20px 18px 20px -18px;
}

.footer {
	text-align: center;
	padding: 24px;
}

.footer a {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	font-weight: 400;
	line-height: 1.2;
	padding: 8px;
	border-radius: 12px;
	color: #fff;
	background-color: rgba(145, 76, 255, 0.517);
	text-transform: uppercase;
	box-shadow: 2px 2px 14px #1172d4, -2px -2px 14px #1172d4;
	text-shadow: 2px 2px 14px #1172d4, -2px -2px 14px #1172d4;
}